@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    @keyframes shake {
        0% { transform: translateX(0); }
        25% { transform: translateX(-5px); }
        50% { transform: translateX(5px); }
        75% { transform: translateX(-5px); }
        100% { transform: translateX(0); }
      }
  
  @keyframes fadeIn {
    0% { opacity: 0; transform: scale(0.8); }
    100% { opacity: 1; transform: scale(1); }
  }
  
  .shopping {
    animation: shake 4s ease-in-out;
  }

  .fade-in-text {
    animation: fadeIn 3s ease-in-out ;
  }
}